* {
  box-sizing: border-box;
}

body {
  background-color: #32261A;
}

.container {
  max-width: 1242px;
  padding: 0 19px;
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 197px;
  height: 74px;
  border: 1.5px solid #E28C54;
  border-radius: 12px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #E28C54;
  background-color: rgba(255, 165, 106, 0);
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(104.85deg, #AF612D -27.27%, #FFA56A 117.63%);
  color: #fff;
}

.btn_promo {
  display: inline-block;
  margin-right: 58px;
}

.btn_w170 {
  display: inline-block;
  width: 170px;
}

.btn__tutorial-card {
  width: 98px;
  height: 74px;
}

.btn__menu {
  display: none;
  width: 100px;
  position: relative;
}

.header {
  height: 129px;
  padding-top: 36px;
  background-color: rgba(0, 0, 0, 0);
}

.header .container {
  height: 93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}

.header .container .gradient {
  width: 400px;
  height: 400px;
  position: absolute;
  left: -240px;
  top: -282px;
  background: radial-gradient(circle closest-side, rgba(255, 165, 106, 0.25), rgba(255, 165, 106, 0));
}

.header a {
  z-index: 1;
}

.header__logo {
  display: block;
  height: 65px;
  margin-left: 7px;
  background-color: rgba(0, 0, 0, 0);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 65px;
  transition: 0.8s all;
}

.header__nav-mobile {
  display: flex;
  visibility: hidden;
  justify-content: space-around;
  flex-direction: column;
  padding: 0px;
  position: absolute;
  width: 0px;
  height: 0vh;
  background-color: #32261A;
  border: 1.5px solid #E28C54;
  border-radius: 12px;
  top: 16px;
  right: 18px;
  z-index: 3;
  transition: 0.7s all;
  overflow: hidden;
}

.header__nav-mobile hr {
  position: static;
  display: block;
  width: 90%;
  height: 2px;
  background-color: #E28C54;
  border: none;
}

.header__nav-mobile .header__nav-link-mobile {
  line-height: 30px;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 0px;
  transition: 0.7s all;
}

.header__nav-mobile .header__nav-mobile-close {
  position: absolute;
  top: 3px;
  right: -50px;
  font-size: 0px;
  z-index: 5;
  color: #FFFFFF;
  cursor: pointer;
  height: 50px;
  width: 50px;
  transition: 0.7s all;
}

.header__nav-mobile_active {
  display: flex;
  top: 16px;
  right: 18px;
  width: 250px;
  height: 60vh;
  visibility: visible;
  padding: 20px;
  transition: 0.7s all;
}

.header__nav-mobile_active .header__nav-link-mobile {
  line-height: 30px;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 20px;
  transition: 0.7s all;
}

.header__nav-mobile_active .header__nav-mobile-close {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 40px;
  z-index: 5;
  color: #FFFFFF;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.header__nav-mobile_active hr {
  position: static;
  display: block;
  width: 90%;
  height: 2px;
  background-color: #E28C54;
  border: none;
}

.header__nav-link {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}

.header__nav-link:hover {
  color: #F9B985;
}

.header__nav-link:hover:after {
  content: '';
  display: block;
  width: calc(100% - 32px);
  height: 9.82px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 27.57px;
  background: rgba(255, 165, 106, 0.8);
  filter: blur(0.7px);
  border-radius: 16px;
}

.header .hidden {
  display: none;
}

.header__reg {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px 2px 14px;
  width: 169px;
  height: 67px;
  border: 1.4px solid rgba(249, 185, 133, 0.23);
  border-radius: 17px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #F9B985;
}

.header__reg:hover {
  color: #fff;
  border-color: rgba(0, 0, 0, 0);
  background: linear-gradient(104.85deg, #AF612D -27.27%, #FFA56A 117.63%);
}

.header__reg:hover .headrer__reg-ico {
  display: none;
}

.header__reg:hover .hidden {
  background-color: rgba(0, 0, 0, 0);
  display: block;
}

.promo .container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  min-height: 775px;
  background-color: rgba(255, 165, 106, 0);
}

.promo__gradient {
  position: absolute;
  top: 79px;
  left: -36px;
  width: 1350px;
  height: 570px;
  border-radius: 100%;
  background: rgba(211, 127, 72, 0.11);
  filter: blur(50px);
}

.promo__item {
  width: 553px;
  height: 458px;
  z-index: 1;
  background-color: rgba(255, 165, 106, 0);
  margin-top: 92px;
}

.promo__title {
  padding: 0 10px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 74px;
  color: #FFFFFF;
  background-color: rgba(255, 165, 106, 0);
}

.promo__title span {
  color: #F9B985;
  background-color: rgba(255, 165, 106, 0);
}

.promo__subtitle {
  margin: 51px 0 41px 0;
  padding: 0 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  background-color: rgba(255, 165, 106, 0);
}

.promo__img {
  margin-top: 130px;
  width: 642px;
  height: 460px;
}

.benefits {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.benefits .container {
  position: relative;
  width: 100%;
  height: 214px;
  background: rgba(198, 116, 62, 0.8);
  box-shadow: 13px 22px 52px rgba(0, 0, 0, 0.1);
  border-radius: 31px;
  padding: 20px 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.benefits__item {
  background-color: rgba(0, 0, 0, 0);
  width: 199px;
  height: 174px;
}

.benefits__item-img {
  margin: 0 auto;
  width: 98px;
  height: 98px;
  background: #D3C11B;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__item-img img {
  background-color: rgba(0, 0, 0, 0);
}

.benefits__item-descr {
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 29px;
  color: #FFF48C;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  margin-top: 25px;
}

.benefits__gradient {
  width: 198px;
  height: 198px;
  background: rgba(249, 185, 133, 0.3);
  filter: blur(50px);
  position: absolute;
  border-radius: 100%;
  z-index: 1;
}

.benefits__gradient_left {
  left: -44px;
  top: -29px;
}

.benefits__gradient_right {
  right: -44px;
  top: -29px;
}

.tutorials {
  min-height: 1024px;
  padding: 190px 0 100px 0;
}

.tutorials__title {
  width: 540px;
  display: block;
  margin: 0 auto 0 auto;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 51px;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}

.tutorials__star {
  position: absolute;
  top: -48px;
  right: -63px;
  z-index: -1;
}

.tutorials__cards-box {
  margin: 126px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.tutorial-card {
  padding: 30px 15px 15px 15px;
  width: 390px;
  min-height: 363px;
  background: rgba(255, 196, 158, 0.1);
  border: 1px solid #AF612D;
  border-radius: 10px;
  position: relative;
}

.tutorial-card__percent {
  padding: 13px;
  position: absolute;
  width: 59px;
  right: 15px;
  top: -27px;
  background: #FFF48C;
  border: 4px solid #32261A;
  border-radius: 44px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  color: #FFA56A;
}

.tutorial-card__img-box {
  margin: 0 auto;
  width: 94%;
  height: 186px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
}

.tutorial-card__img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.tutorial-card__text {
  padding-left: 10px;
  width: 185px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tutorial-card__title {
  display: block;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 1;
  margin: 0;
}

.tutorial-card__price {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  color: #F9B985;
}

.tutorial-card__descr {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1249px) {
  .header__nav {
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
  }
  .promo .container {
    min-height: 600px;
  }
  .promo__gradient {
    width: 90%;
  }
  .promo__item {
    width: 450px;
  }
  .promo__title {
    font-size: 40px;
    line-height: 60px;
  }
  .promo__img {
    width: 450px;
  }
  .promo__img img {
    width: 530px;
    overflow: hidden;
  }
  .benefits {
    width: 950px;
  }
  .tutorials {
    padding: 100px 0 50px 0;
  }
  .tutorials__cards-box {
    margin: 70px auto 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .tutorial-card {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .header__nav-link {
    font-size: 16px;
  }
  .header__nav-link:hover {
    color: #FFFFFF;
  }
  .header__nav-link:hover:after {
    display: none;
  }
  .header__logo {
    margin: 0 0 4px 7px;
    height: 50px;
  }
  .header__reg {
    color: #fff;
    height: 57px;
    font-size: 20px;
    border-color: rgba(0, 0, 0, 0);
    background: linear-gradient(104.85deg, #AF612D -27.27%, #FFA56A 117.63%);
  }
  .header__reg .headrer__reg-ico {
    display: none;
  }
  .header__reg .hidden {
    background-color: rgba(0, 0, 0, 0);
    display: block;
  }
  .btn {
    height: 60px;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(104.85deg, #AF612D -27.27%, #FFA56A 117.63%);
  }
  .promo .container {
    display: block;
    position: relative;
    min-height: 550px;
  }
  .promo__gradient {
    width: 750px;
    height: 382px;
    top: 20px;
  }
  .promo__item {
    margin-top: 50px;
  }
  .promo__img {
    width: 330px;
    height: 200px;
    margin-top: 0px;
    position: absolute;
    top: 10px;
    right: 70px;
  }
  .promo__img img {
    width: 350px;
  }
  .benefits {
    width: 95vw;
  }
  .benefits .container {
    height: 150px;
  }
  .benefits__gradient {
    width: 100px;
    height: 100px;
  }
  .benefits__gradient_left {
    left: -40px;
    top: -29px;
  }
  .benefits__gradient_right {
    right: -10px;
    top: -40px;
  }
  .benefits__item {
    height: 120px;
  }
  .benefits__item-img {
    width: 70px;
    height: 70px;
  }
  .benefits__item-descr {
    font-size: 18px;
  }
  __title {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .header__nav_main {
    display: none;
  }
  .header__reg {
    justify-content: center;
    width: 130px;
    height: 50px;
    border: 1.4px solid rgba(249, 185, 133, 0.23);
    font-size: 20px;
    line-height: 36px;
    color: #F9B985;
    background: rgba(0, 0, 0, 0);
  }
  .header__reg .hidden {
    display: none;
  }
  .header__reg:hover {
    border: 1.4px solid rgba(249, 185, 133, 0.23);
    color: #F9B985;
    background: rgba(0, 0, 0, 0);
  }
  .header__reg:hover .hidden {
    display: none;
  }
  .btn__menu {
    display: flex;
  }
  .btn {
    height: 50px;
    font-size: 17px;
  }
  .btn_promo {
    width: 150px;
    margin-right: 30px;
  }
  .btn_w170 {
    width: 130px;
    margin-top: 10px;
  }
  .promo .container {
    min-height: 400px;
  }
  .promo__gradient {
    width: 80%;
    left: 10%;
    height: 70%;
  }
  .promo__item {
    width: 90%;
    margin: 50px auto 0 auto;
  }
  .promo__title {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
  }
  .promo__subtitle {
    display: block;
    width: 50%;
    font-size: 18px;
    line-height: 27px;
  }
  .promo__img {
    width: 230px;
    height: 200px;
    margin-top: 0px;
    position: absolute;
    top: 110px;
    right: 16px;
    overflow: hidden;
  }
  .promo__img img {
    width: 260px;
  }
  .benefits__gradient_left {
    left: -30px;
  }
  .benefits__gradient_right {
    right: 0px;
  }
  .tutorials__title {
    font-size: 38px;
    width: 400px;
    text-align: center;
  }
  .tutorials__star {
    top: -37px;
    right: -50px;
    width: 92px;
  }
}

@media (max-width: 575px) {
  .promo__img {
    top: 145px;
    right: 1px;
  }
  .promo__title {
    height: 120px;
  }
  .promo__subtitle {
    width: 55%;
    height: 100px;
  }
  .benefits .container {
    padding: 20px 20px;
  }
  .benefits__item-descr {
    margin-top: 10px;
  }
  .tutorials__title {
    font-size: 32px;
    width: 381px;
  }
  .tutorials__star {
    top: -35px;
    right: -23px;
    width: 80px;
  }
}

@media (max-width: 425px) {
  .header {
    padding-top: 20px;
  }
  .header__logo {
    height: 40px;
  }
  .header__reg {
    width: 75px;
    height: 50px;
    font-size: 15px;
  }
  .btn__menu {
    width: 75px;
    font-size: 15px;
  }
  .btn_promo {
    display: block;
    margin: 0 auto;
  }
  .btn_w170 {
    display: block;
    margin: 20px auto;
  }
  .promo .container {
    min-height: 550px;
  }
  .promo__gradient {
    width: 80%;
    left: 10%;
    height: 70%;
  }
  .promo__item {
    margin: 30px auto 0 auto;
    width: 90%;
  }
  .promo__title {
    font-size: 25px;
    line-height: 37px;
    text-align: center;
  }
  .promo__subtitle {
    margin: 170px auto 41px auto;
    width: 90%;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
  }
  .promo__img {
    top: 102px;
    right: 50%;
    transform: translateX(50%);
  }
  .benefits .container {
    flex-wrap: wrap;
    justify-content: space-around;
    height: 430px;
    width: 95%;
    padding: 20px 30px;
  }
  .benefits__item {
    width: 110px;
    height: 130px;
  }
  .tutorials {
    overflow: hidden;
  }
  .tutorials__title {
    font-size: 25px;
    width: 270px;
  }
  .tutorials__star {
    top: -34px;
    right: -37px;
    width: 73px;
  }
  .tutorial-card {
    width: 90%;
    min-height: 300px;
    margin-bottom: 30px;
    padding: 30px 10px 15px 10px;
  }
  .tutorial-card__title {
    font-size: 20px;
  }
  .tutorial-card__price {
    font-size: 15px;
  }
  .tutorial-card__text {
    width: 130px;
    padding-left: 0px;
  }
  .benefits__gradient_left {
    left: 10px;
  }
  .benefits__gradient_right {
    right: 10px;
  }
}
