*    
    box-sizing: border-box
body
    background-color: #32261A
.container
    max-width: 1242px
    padding: 0 19px 
    margin: 0 auto
    
@import "_button.sass"   
@import "_header.sass"
@import "_promo.sass"   
@import "_benefits.sass"
@import "_tutorials.sass"
@import "_tutorial_card.sass"   
 